body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

nav{
    position: fixed;
    top: 0;
    left: 0;

 
}


.upt{
    font-size: 30px;
    margin-right: 10px;
}


.contacto-container {
    display: flex;
    flex-direction: column; /* todo en columna */
    align-items: center;    /* centra horizontalmente */
    gap: 30px;              /* espacio entre formulario y info */
    padding: 40px 20px;
    font-family: Arial, sans-serif;
}

.formulario-card {
    background-color: #dddada;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    width: 100%;
    max-width: 400px; /* ancho máximo del recuadro */
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formulario-card input {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #878282;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
}

.formulario-card button {
    padding: 12px;
    background-color: #27AE60;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;

    display: block;     /* necesario para que margin funcione */
    margin: 20px auto 0 auto; /* arriba:20px, horizontal:auto, abajo:0 */
   
}

.formulario-card button:hover {
   transform: scale(1.05);
}

.info-contacto {
    display: flex;
    flex-direction: column; /* cada bloque uno debajo del otro */
    gap: 20px;
    width: 100%;
    max-width: 600px;
}

